/*-- scss:rules --*/

figcaption {
  color: #333333;
  font-weight: bold;
}

blockquote {
  color: #000000;
  font-weight: bold;
}

.nav-link {
    font-weight: bold;
}

.toc-active {
    font-weight: bold;
}

a {
	font-weight: 900;
}